@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: rgb(162, 201, 165);
}
.content {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content:"";
    position: absolute;
    background-color: #3cd46f;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-welcome {
    color: #fff;
}


.first-content{
    display: flex;
}
.first-content .second-colun {
    z-index: 12;
}
.first-colun{
    text-align: center;
    width: 40%;
    z-index: 2;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color: #fff;
}
.description-second{
    color: #bdc3c7;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
  }
.btn-primary:hover {
    background-color: #fff;
    color: #3cd46f;
    transition: background-color .6s;
}
.btn-second {
    background-color: #3cd46f;
    border: 1px solid #3cd46f;
    transition: background-color .6s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #3cd46f;
    color: #3cd46f;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.second-colun{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlesegundo{
    color: #3cd46f;

}

.list1{
    display: flex;
    list-style-type: none;
}

.social-midia{
    margin: 1rem 0;
}
.link-social .item-social-media {
    transition: background-color .6s;   
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center; 
    color: #95a5a6;
}

.link-social:not(:first-child){
    margin-left: 10px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.link-social:hover .item-social-media{
    background-color: #3cd46f;
    color: #fff;
    border-color: #3cd46f;
}

.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content */

.second-content{
 position: absolute;
 display: flex;
}
.second-content .first-colun {
    order: 2;
    z-index: -1;
}

.second-content .second-colun {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.sign-in-js .first-content .first-colun{
    z-index: -1;
}


.sign-in-js .second-content .second-colun {
    z-index: 11;
}
.sign-in-js .second-content .first-colun{
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.5s;
    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideout 1.5s;
    z-index: 12;
}


.sign-up-js .second-content .first-colun
{
    z-index: -1;
}

.sign-up-js .first-content .second-colun {
    z-index: 11;
}
.sign-up-js .first-content .first-colun{
    z-index: 13;
}

.sign-in-js .first-content .second-colun{
    z-index: -1;
    position: relative;
    animation: deslocamento 2s;
}
.sign-up-js .second-content .second-colun {
    z-index: -1;
    position: relative;
    animation: deslocamento2 2s;
}


/*animação*/
@keyframes deslocamento{
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -90px;
        opacity: .5;
    }


    to {
        left: -110px;
        opacity: 0;
        z-index: -5;
    }
}

@keyframes deslocamento2{
    from {
        left: -10px;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: 80px;
        opacity: .5;
    }


    to {
        left: 110px;
        opacity: 0;
        z-index: -5;
    }
}


/*animação*/
@keyframes slidein {

    from{
        left: 0%;
        width: 30%;
    }

    50% {
        background-color: #75f17f;
        left: 45%;
        width: 20%;
        }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from{
        left: 60%;
        width: 40%;
    }

    50% {
        background-color: #75f17f;
        left: 40%;
        width: 20%;
        }

    to {
        left: 0%;
        width: 40%;
    }
}

